:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --schedule: #e1ae4a;
  --textColor: black;
  --app_background: #f3f3f3;
}

[data-theme="dark"] {
  --photo: #f3f3f3;
  --video: #f3f3f3;
  --location: #f3f3f3;
  --schedule: #f3f3f3;
  --cardColor: rgb(50, 57, 58);
  --inputColor: rgb(57, 60, 61);
  --textColor: #cfcdcd;
  --app_background: #212020;
}
body {
  font-family: "TikTok Sans", sans-serif;
  margin: 0;
}

* {
  transition: all 0.3s ease-in-out;
}

.App {
  overflow: hidden;
  color: var(--black);
  background: var(--app_background);
  padding: 1rem 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
}

.button:hover {
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  border: 2px solid var(--orange);
}

.button:disabled {
  background: silver;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
