.RightSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
    cursor: pointer;
    padding: 1rem;
}

.group-button{
    height: 3rem;
    width: 80%;
    align-self: center;
    cursor: pointer;
    padding: 1rem;
}