.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Post>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item{
    color: var(--textColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info{
    display: flex;
    align-items: center;
    gap: 70px;
}

.postHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postHeader .followerImage {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postHeader .name {
    flex-grow: 1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.postTimestamp {
    font-size: 0.75rem;
    color: var(--gray);
}