body[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #333333;
}

body[data-theme="dark"] {
  --icon-color: #7e7e7e;
  --background-color: #333333;
  --text-color: #ffffff;
}

.darkMode:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] .darkMode:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
