.stories-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.stories-container {
  position: relative;
  width: 100%;
  max-width: 10rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.stories-image-container {
  position: relative;
  height: 12rem;
  overflow: hidden;
}

.stories-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories-text-section {
  position: relative;
  background-color: var(--cardColor);
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
}

.stories-text {
  font-size: 0.8rem;
  margin: 0%;
  line-height: 2rem;
  font-weight: 500;
}

.stories-button-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stories-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(106.23deg, #f99827, #f95f35 100%);
  border-radius: 100%;
  border: 4px solid var(--cardColor);
  transform: translateZ(0);
  transition: transform 0.2s;
  outline: none;
  cursor: pointer;
}

.stories-button:hover {
  transform: scale(1.05);
}

.stories-icon {
  color: white;
}

.profile-picture-overlay {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.profile-picture-overlay-inner {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 4px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.profile-picture-overlay-inner::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(106.23deg, #f99827, #f95f35 100%);
}

.gradient-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1rem;

  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7), transparent);

  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
